.footer{
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 10px;
    height: 20px;
    width: 100px;
    padding: 10px 20px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 70px;
}
.placeholder{
    height: 15px;
    width: 100px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 14px;
}
.footer-subscribe{
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}